<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>What is the name of the most famous rabbit?</h2>
    <form action="/result" method="post">
        <input type="text" name="rabbit">
        <button>Submit</button>
    </form>
    <%if(withInfo){ %>
        <p>No info about rabbits</p>
    <%} else { %>
        <p>New info about rabbits</p>
    <%}%>

    <% rabbits.map(rabbit => { %>
        <p><%= rabbit.name %> (<%= rabbit.species %>)</p>
    <%})%>
</body>
</html>